*{
    margin:0;
    padding:0;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

header.site-init{
    background-image: url(../img/penguin.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;

}

p{
    line-height: 1.5;

}

.container{
    margin: 1rem auto;
    width: 70%;

}

.site-title{
    display:flex;
    padding-left: 50%;
    color: aqua;
    text-align: center;
    
}
.navbar{
    color: aqua;
    width: 70px;
}

#pets {
    display: grid;
    grid-template-columns: repeat(3,1fr)
}

.pet {
    background-color: #dedede;
    border: 1px solid gray;
    padding: 1 rem;
    border-radius: 10px;

}

#petTable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:0.9em;
    min-width: 600px;


}

#petTable thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

#petTable th, td {
    padding: 12px 15px;
}